name: CI - Tests
on: 
  push:
    branches-ignore:
        - 'main'
        - 'master'
        - 'releases/**'
  workflow_call: 
jobs:
  Tests:
    # runs-on: ubuntu-latest
    runs-on: 
      - self-hosted
      - segment-android
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2    
    - name: Make gradlew executable
      run: chmod +x ./gradlew
    - name: Run Tests                  
      run: ./gradlew test
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Test Results        
        path: app/build/test-results/testDebugUnitTest/TEST-*.xml    # Path to test results
        reporter: java-junit        # Format of test results
        fail-on-error: true